In [2]:
import os
import pandas as pd
import seaborn as sns
from PIL import Image
from pathlib import Path
from sklearn import svm
import cv2

In [12]:
data = {'Monster': [], 'Label': []}

for img_path in Path('./dataset').rglob('*.png'):
    with Image.open(img_path) as img:

        if img_path.name == 'Fire':
            element = 'Fire'
        elif 'Water' in img_path.parents[0].name:
            element = 'Water'
        elif 'Wind' in img_path.parents[0].name:
            element = 'Wind'
        elif 'Dark' in img_path.parents[0].name:
            element = 'Dark'
        elif 'Light' in img_path.parents[0].name:
            element = 'Light'
            
        data['Monster'].append(img_path.stem)
        data['Label'].append(element)

In [13]:
df = pd.DataFrame(data)
df

            Monster Label
0     Alexandra.png  Dark
1        Amazon.png  Dark
2        Amduat.png  Dark
3      Angelmon.png  Dark
4        Anubis.png  Dark
...             ...   ...
1112   Xing Zhe.png  Wind
1113        Yen.png  Wind
1114       Yeti.png  Wind
1115    Zenobia.png  Wind
1116   Zephicus.png  Wind

[1117 rows x 2 columns]